<h1>Back a Project</h1>
<p>
  You are going to be backing the following project:  <%= @project.title %>
</p>

<% @project.rewards.each do |r| %>
  <div class="reward">
    Reward:  <%= r.title %><br/>
    Description:  <%= r.description %><br/>
    Pledge Amount:  <%= r.amount %><br/>
  </div>
<% end %>

<%= link_to "Back", request.referer.present? ? request.referer : root_path %>
