<div id="profile-page">
  <div class="container">
    <h1 style="text-align: center; margin-bottom: 4rem">Profile</h1>
    <div class="row">
      <div class="col s6">
      <h1 class="profile-page-heading">Contact Information</h1>
        <p>
          Email Address: <%= @user.email %>
        </p>
        <p>
          First Name:  <%= @user.first_name %>
        </p>
        <p>
          Last Name:  <%= @user.last_name %>
        </p>
        <p>
          Address:  <%= @user.address %>
        </p>
        <p>
          City:  <%= @user.city %>
        </p>
        <p>
          Province:  <%= @user.province %>
        </p>
        <p>
          Postal Code:  <%= @user.postal_code %>
        </p>
        <p>
          Telephone Number:  <%= number_to_phone(@user.phone_number, area_code: true) %>
        </p>
        <p><%= link_to "Edit Profile", edit_user_path(current_user.id) %></p>

      </div>
        <div class="col s6">
          <% if @user.projects.any? %>
            <h1 class="profile-page-heading">Projects Owned</h1>

            <% @user.projects.each do |p| %>
              <div>
                <p>Project Title:  <%= p.title %><br/></p>
                <p>Project Description:  <%= p.short_description %></p>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="col s12">
          <h1 class="profile-page-heading">Backed Projects</h1>
            <% if @user.rewards.any? %>

            <% @user.rewards.each do |r| %>

                title:  <%= r.title %><br/>
                description:  <%= r.description %><br/>

            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
