<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="flash-error">
      <span>
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </span>
    </div>
  <% end %>


<div class="choose-category">
  <h1>What Type of Project Would You Like to Create?</h1>
  <div class="field">
    Category<br/>
    <%= f.select :category_id, options_for_select(Category.all.collect {|c| [ c.description, c.id ] }) %>
  </div>
</div>

<div class="container">

  <table class="create-project-table">
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <td><%= f.label :short_description %></td>
      <td><%= f.text_field :short_description%></td>

    </tr>

    <tr>
      <td><%= f.label :long_description %></td>
      <td><%= f.text_area :long_description %></td>

    </tr>

    <tr>
      <td><%= f.label :risk_description %></td>
      <td><%= f.telephone_field :risk_description %></td>

    </tr>

    <tr>
      <td><%= f.label :end_date %></td>
      <td><%= f.date_field :end_date %></td>

    </tr>

    <tr>
      <td><%= f.label :funding_amount %></td>
      <td><%= f.number_field :funding_amount %></td>
    </tr>
    <tr>
      <td><%= f.label :image %></td>
      <td><%= f.file_field :image %></td>
    </tr>

    <tr>
      <%= f.fields_for :rewards, [Reward.new, Reward.new, Reward.new] do |reward| %>
      <td><%= reward.label :Reward_title %></td>
      <td><%= reward.text_field :title %>  </td>
    </tr>

    <tr>
      <td><%= reward.label :Reward_description %></td>
      <td><%= reward.text_area :description %></td>
    </tr>

    <tr>
      <td><%= reward.label :Reward_amount %></td>
      <td><%= reward.number_field :amount %></td>
    </tr>

    <% end %>
  </table>
  <div class="actions" style="text-align: center">
    <%= f.submit %>
  </div>
  <% end %>
</div>
