


<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="flash-error">
      <span>
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </span>
    </div>
  <% end %>
</div>

<div class="container choose-category">
  <h1>What Type of Project Would You Like to Create?</h1>
  <div class="field">
    Category<br/>
    <%= f.select :category_id, options_for_select(Category.all.collect {|c| [ c.description, c.id ] }) %>
  </div>
</div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :short_description %>
    <%= f.text_field :short_description%>
  </div>
  <div class="field">
    <%= f.label :long_description %>
    <%= f.text_area :long_description %>
  </div>
  <div class="field">
    <%= f.label :risk_description %>
    <%= f.telephone_field :risk_description %>
  </div>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <div class="field">
    <%= f.label :funding_amount %>
    <%= f.number_field :funding_amount %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.fields_for :rewards, [Reward.new, Reward.new, Reward.new] do |reward| %>
    <div class="field">
      <%= reward.label :Reward_title %>
      <%= reward.text_field :title %>
    </div>
    <div class="field">
      <%= reward.label :Reward_description %>
      <%= reward.text_area :description %>
    </div>
    <div class="field">
      <%= reward.label :Reward_amount %>
      <%= reward.number_field :amount %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>
