<%= form_for @project do |f| %>
</div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :short_description %>
    <%= f.text_field :short_description%>
  </div>
  <div class="field">
    <%= f.label :long_description %>
    <%= f.text_area :long_description %>
  </div>
  <div class="field">
    <%= f.label :risk_description %>
    <%= f.telephone_field :risk_description %>
  </div>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_current :end_date %>
  </div>
  <div class="field">
    Category<br/>
    <%= f.select :category_id, options_for_select(Category.all.collect {|c| [ c.description, c.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :funding_amount %>
    <%= f.number_field :funding_amount %>
  </div>

  <%= f.fields_for :rewards, [Reward.new, Reward.new, Reward.new] do |reward| %>
    <div class="field">
      <%= reward.label :Reward_title %>
      <%= reward.text_field :title %>
    </div>
    <div class="field">
      <%= reward.label :Reward_description %>
      <%= reward.text_area :description %>
    </div>
    <div class="field">
      <%= reward.label :Reward_amount %>
      <%= reward.number_field :amount %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>
