<div class="container">

  <div class="title-and-creator">
    <h1><%= @project.title %></h1>
  </div>
    <h4>By: <%= @project.owner_name %></h4>
    <p><b>Description: </b> <%= @project.short_description %></p>
  </div>

  <div class="main-project-info">
    <table id="main-project-table">
      <tr id="main-project-table-row">
        <td id="project-video">VIDEO HERE</td>
        <td id="column-two">
      <table>
        <tr>
      <td id="backers">
        <p>Number of Backers: <%= @project.count_backers %></p>
      </td>
      </tr>
      <tr>
          <td id="pledged">
        <p>Amount Pledged: <%= number_to_currency(@project.amount_pledged) %></p>
      </td>
    </tr>
    <tr>
      <td id="days-to-go">
        <p>Days To Go: <%= @project.days_remaining %></p>
      </td>
    </tr>
    <tr>
    <td id="back-this-project">
      <% if current_user %>
        <button class="back-this-project-btn">
          <%= button_to "Back this Project", new_project_pledge_path(@project), method: :get %>
        </button>
        <% else %>
        <p>
          Please register or login to back this project.
        </p>
        <% end %>
      </td>

      </tr>

    </table>
  </table>
  </td>
  </div>

</div>
</p>
<% @project.rewards.each do |r| %>
<div>
  <%= r.title %><br/>
  <%= r.description %><br/>
  <%= number_to_currency(r.amount) %><br/>
</div>

  <% if current_user %>
    <%= button_to "Back this Project", new_project_pledge_path(@project), method: :get %>
  <% else %>
    <p>
       register or login to back this project.
    </p>
  <% end %>
<% end %>

<%= link_to "Back", request.referer.present? ? request.referer : root_path %>
