<div class="container">

  <div class="title-and-creator">
    <h1><%= @project.title %></h1>
    <h4>By: <%= @project.owner_name %></h4>
  </div>

  <div class="main-project-info">
    <p>
      Description: <%= @project.short_description %> <%= @project.amount_pledged %><br/>
      <%= button_to "Back this Project", new_pledge_path , method: :get%>
    </p>
    <% @project.rewards.each do |r| %>
    <%= r.title %>
    <%= r.description %>
    <%= r.amount %>
      <%= button_to "Get this reward", pledges_path, {remote: true, form_class: "form", class: "pledge"} %>
<!-- , params: {user_id: current_user.id, reward_id: r.id, amount: r.amount} -->
    <% end %>
  </div>

</div>
