<div class="container">

  <div class="title-and-creator">
    <h1><%= @project.title %></h1>
    <h4><%= @project.user.first_name %><%= @project.user.last_name %></h4>
    <p><b>Description: </b> <%= @project.short_description %></p>
  </div>

  <div class="main-project-info">
    <table class="main-project-table">
      <tr class="main-project-table-row">

        <td class="column-one">VIDEO HERE</td>
        <td class="column-two">
          <table class="x">
            <tr>
          <td id="proj-stats">
            <p>Number of Backers: <%= @project.count_backers %></p>
          </td>
          </tr>
          <tr>
              <td id="proj-stats">
            <p>Amount Pledged: <%= @project.amount_pledged %></p>
          </td>
        </tr>
        <tr>
          <td id="proj-stats">
            <p>Days To Go: <%= @project.days_remaining %></p>
          </td>
        </tr>
        <tr>
        <td id="proj-stats">
            <button class="back-this-project-btn">
              <%= link_to "Back This Project!", pledges_path %>
            </button>
          </td>
          </tr>
        </table>
  </table>
  </td>
  </div>


<div class=" show-rewards">
  <!-- <%= @project.rewards.each %>
  <p>gjhkguygjhgkjhghkjgkhjgkjhgjhkghjgkjhgkjhgjfghjkjhgfd</p> -->

<div class="short-description">
  Short Description Here
</div>
<div class="long-description">
  Long Description Here
</div>

  <aside>
    <div class="container" id="pledge-btn">
      <p><button class="button"><a href="">Pledge Amt. 1 </a></button></p>
    </div>
    <div class="container" id="pledge-btn">
      <p><button class="button"><a href="">Pledge Amt. 2 </a></button></p>
    </div>
    <div class="container" id="pledge-btn">
      <p><button class="button"><a href="">Pledge Amt. 3 </a></button></p>
    </div>
    <div class="container" id="pledge-btn">
      <p><button class="button"><a href="">Pledge Amt. 4 </a></button></p>
    </div>
    <div class="container" id="pledge-btn">
      <p><button class="button"><a href="">Pledge Amt. 5 </a></button></p>
    </div>
  </aside>

  </div>
</div>
