<button class="simple-pill">
  <%= link_to "Back to All Projects", request.referer.present? ? request.referer : root_path %>
</button>

<div class="container">

  <div class="title-and-creator">
    <h1><%= @project.title %></h1>
    <h4>by: <%= @project.owner_name %></h4>
    <p></b> <%= @project.short_description %></p>
  </div>

  <div class="main-project-info">
    <table class="main-project-table">
      <tr class="main-project-table-row">

        <td class="column-one">
          <div class="video">
            <div class="video-wrapper">
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/gKUI--Tycg8?list=FL-nhrSdZC6vefG4VmW5NR8Q" frameborder="0" allowfullscreen></iframe> -->
            <%= image_tag @project.image %>
            </div>
          </div>
        </td>

        <td class="column-two">
        <table class="project-stats">
          <tr>
        <td id="backers">
          <p>Number of Backers: <%= @project.count_backers %></p>
        </td>
        </tr>
        <tr>
            <td id="pledged">
          <p>Amount Pledged: <%= number_to_currency(@project.amount_pledged) %></p>
        </td>
      </tr>
      <tr>
        <td id="days-to-go">
          <p>Days To Go: <%= @project.days_remaining %></p>
        </td>
      </tr>
      <tr>
          <td id="back-this-project">
          <% if current_user %>
            <button class="back-this-project-btn">
              <%= button_to "Back this Project", new_project_pledge_path(@project), method: :get %>
            </button>
            <% else %>
            <p>
              Please register or login to back this project.
            </p>
            <% end %>
          </td>
        </tr>
      </td>
    </table>
  </table>
</div>
    <div class="short-description">
      <h2><%= @project.short_description %></h2>
    </div>

  <div class="long-description">
    <h3><%= @project.long_description %></h3>
  </div>

  <div class="show-rewards">
  <% @project.rewards.each do |r| %>
  <div>
    <div id="reward-title"><%= r.title %><br/></div>
    <%= r.description %><br/>
    <%= number_to_currency(r.amount) %><br/>
  </div>
    <% if current_user %>
      <%= button_to "Back this Project", new_project_pledge_path(@project), method: :get %>
    <% else %>
      <p>Register or Login to Back This Project!</p>
    <% end %>
  <% end %>
  </div>

    </div>
  </div>
</div>
