<div class="container">

  <div class="title-and-creator">
    <h1><%= @project.title %></h1>
    <h4>By: (creator of project)</h4>
  </div>

  <div class="main-project-info">
    <p>
      Description: <%= @project.short_description %> <%= @project.amount_pledged %>
    </p>
    <% @project.rewards.each do |r| %>
    <%= r.title %>
    <%= r.description %>
    <%= r.amount %>
      <%= button_to "Back this Project", {remote: true}, {form_class: 'form', class: 'pledge'} %>

    <% end %>
  </div>

</div>
