<div class="form-box">
  <h1>Log in</h1>
  <%= form_tag sessions_path do %>

  <div class="field">
  <%= label_tag :email %><br/>
  <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
  <%= label_tag :password %><br/>
  <%= password_field_tag :password %>
  </div>
  <div class="field">
   <%= f.label :password_confirmation %><br />
   <%= f.password_field :password_confirmation %>
</div>
  <div class="action"><%= submit_tag "Log in" %></div>
    <% end %>
</div>
