<div class="container new-session-form">

  <h1>Log in</h1>
  <%= form_tag user_sessions_path, method: :post do %>

    <aside>
      Email Address:
    </aside>

    <article>
      <%= text_field_tag :email, params[:email] %>
    </article>

    <aside>
      Password:
    </aside>

    <article>
      <%= password_field_tag :password %>
    </article>

    <aside>
      <%= submit_tag "Log in" %>
    </aside>
  <% end %>
</div>

<div class="container forgot-password-form">
  <h2>Forgot Password?</h2>
  <%= render 'forgot_password_form' %>
</div>
