<!DOCTYPE html>
<html>
<head>
  <title>CrowdFundr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li>
    <%= link_to "CrowdFundr", root_path %>
  </li>
  <li>
    <% if current_user %>
      <%= link_to "Create a project", new_project_path %> |
      Welcome, <%= current_user.first_name %> |
      <%= link_to "User Profile", user_path(current_user.id) %> |
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </li>
  </ul>
  </nav>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
